$c1: #ECF0F1; // bg
$c2: #5C6D7E; // h1
$c3: #2C3E50; // h2+
$c4: #2980B9; // good btn
$c5: #C0392B; // bad btn

$primary-color: $c4;
$alert-color: $c5;

@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/buttons";

@import "mmenu";
@import "swiper";

* {
	color: $c3;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  background-color: $c1; 
	overflow:hidden;
}

h1, h2, h3 {
	color: $c2;
}

#app {
	padding:0px;
}

#main {
	margin-top: 26px;
	.app-title {
		text-align: center;
	}
	.nav {
		margin-top: 90px;
	}
}
.img {
	width: 100%;
	background-color: #5C6D7E;
}

#learn {
	margin: 0px;
	padding: 0px;
	.swiper-container {
		margin: 0px;
		padding: 0px;
		width:auto;
	}
	.swiper-slide{
		padding:0 30px 20px 20px;
		max-width:100%;
		height:auto;
	}
	.open {
		position: absolute;
		top: 20px;
		left: 0px;
		z-index: 99;
	}
	.img {
		margin-top: -15px;
	}
	.header {
		padding-left: 16px;
	}
}

#quiz {
	.right {
		float: right;
	}
	.img-container {
		display:none;
	}
	.img {
		margin-bottom: 10px;
		margin-top: -15px;
	}
}
